@charset "UTF-8";

/*
업체 관련 css
*/

/*** 상세 ***/
.s21_tour_de_top {
	float: left;
	width: 100%;
	min-height: 500px;
}

.s21_tour_de_top h3 {
	width: 100%;
	font-size: 35px;
	color: #3a3a3a;
	font-weight: 400;
	text-align: left
}

.s21_tour_de_top h3 span {
	padding-left: 10px;
	font-size: 15px;
	color: #a9a9a9;
}

.s21_detail_box {
	width: 100%;
	margin: 30px auto
}

.s21_detail_img {
	float: left;
	width: 50%;
}

.s21_detail_img img {
	width: 100%;
	max-height: 450px;
	min-height: 450px;
	border-radius: 20px;
}

.s21_detail_tbox {
	float: right;
	width: 45%;
	border-top: 3px solid #77D6C9;
}

.s21_detail_tbox .s21_detail_twrap {
	width: 100%;
	padding: 0px 0
}

.s21_detail_tbox .s21_detail_twrap li {
	float: left;
	width: 100%;
	padding: 25px 0px 0px 0px;
	border-bottom: 1px solid #dddbd6;
}

.s21_detail_tbox .s21_detail_twrap li dl {
	width: 100%;
	margin-bottom: 25px;
}

.s21_detail_tbox .s21_detail_twrap li dt {
	float: left;
	width: 21%;
	font-size: 18px;
	color: #626262;
	padding-left: 3px;
	text-align: left;
}

.s21_detail_tbox .s21_detail_twrap li dd {
	font-size: 18px;
	color: #a1a1a1;
	line-height: 20px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1
}

.s21_detail_tbox .s21_detail_twrap li dd a {
	font-size: 18px;
	color: #a1a1a1;
	text-align: left;
}

.s21_detail_twrap_sns {
	padding: 10px 0 ! important
}

.s21_sns {
	text-align: right;
	width: auto;
	float: right;
}

.s21_sns img {
	width: 25px;
	padding: 0 5px
}

.s21_sns .s21_gong img {
	width: 15px ! important;
	padding: 0 5px
}

.s21_sns .like img {
	width: 20px ! important;
}

.s21_sns:hover {
	cursor: pointer
}

.s21_detail_top_btm {
	float: left;
	width: 100%;
	padding: 0px 0 0 0;
	margin-bottom: 20px;
}

.s21_detail_top_btm dl {
	float: left;
	padding: 10px;
	height: 80px;
	width: 18%;
	margin: 10px;
	border-radius: 6px;
}
.s21_detail_top_btm dl.reserve_button{
	cursor: pointer;
	background-color: #77D6C9;
}
.s21_detail_top_btm dl.heart_button{
	cursor:pointer;
	width:15%;
}

.s21_detail_top_btm dt {
	text-align: center;
	height: 40px
}

.s21_detail_top_btm dt img {
	width: 45px
}

.s21_detail_top_btm dd {
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: black;
	font-size: 13px;
	letter-spacing: -0.05em
}


.s21_tour_de_btm {
	width: 100%;
	background: #fff;
	padding: 60px 0;
	margin: 0px auto
}
.s21_sns img {
	width: 25px;
	padding: 0 5px
}

.s21_sns .s21_gong img {
	width: 15px ! important;
	padding: 0 5px
}

.s21_sns .like img {
	width: 20px ! important;
}

.s21_sns:hover {
	cursor: pointer
}

#map_area{
	margin-top: 20px;
}

.detail_heading{
	width: 100%;
    font-size: 25px;
    color: #3a3a3a;
    font-weight: 400;
    text-align: left;
	margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.row_margin{
	margin-bottom: 50px;
}